#tab-bar.demo {
  display: flex;
  flex-direction: column;
}
#tab-bar .demoName {
  height: 0.8rem;
}
#tab-bar .demo-preview-item,
#tab-bar .demo-preview-item .am-tab-bar {
  flex: 1;
  display: flex;
  flex-direction: column;
}
#tab-bar .demo-preview-item .am-tab-bar {
  background-color: white;
}
.am-tab-bar-tab i.iconfont{
  color: #b3b3b3
}
.am-tab-bar-tab i.iconfont{
  font-size: 0.44rem;
}
.am-tab-bar-tab-active i.iconfont{
  color: #c19250;
}